{% extends "base.html" %}
{% block title %}Profil{% endblock %}
{% block page_title %}Profilni tahrirlash{% endblock %}
{% block content %}
<div class="max-w-2xl mx-auto bg-white rounded-2xl border border-slateg-200 p-6">
  <form method="post" enctype="multipart/form-data">{% csrf_token %}
    {% include "partials/form.html" %}
    <div class="flex gap-3">
      <button class="btn btn-primary">Saqlash</button>
      <a href="{% url 'accounts:profile' %}" class="btn btn-quiet">Bekor qilish</a>
    </div>
  </form>
</div>
{% endblock %}
